[submodule "llm/agent/mcp-sse"]
	path = llm/agent/mcp-sse
	url = git@github.com:sidharthrajaram/mcp-sse.git
[submodule "hands-on-ML"]
	path = hands-on-ML
	url = git@github.com:ForceInjection/hands-on-ML.git
[submodule "AISystem"]
	path = AISystem
	url = git@github.com:Infrasys-AI/AISystem.git
